# Python stuff
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Mac stuff
.DS_Store

# Project specific stuff
.udacity-pa/
rubric.md
project_introduction.md
project_intro.md
submit_project.md
original-readme.md
*.zip

# Environments
.env
